{% extends 'base.html' %}

{% block title %}My Posts{% endblock %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Title</th>
        <th scope="col">Edited Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for article in articles %}
      <tr>
        <th scope="row">{{article.id}}</th>
        <td>{{article.title}}</td>
        <td>{{article.edited_date}}</td>
        <td>Actions</td>
      </tr>
      {% empty %}
        <p>No posts found in the system...</p>
        {% endfor %}
    </tbody>
  </table>




<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    {% if articles.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{articles.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {% endif %}
    
    <li class="page-item"><a class="page-link" href="#">{{articles.number}}</a></li>
    {% if articles.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{articles.next_page_number}}">{{articles.next_page_number}}</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{articles.paginator.num_page}}">Last page</a>
    </li>
    {% else %}
    {% endif %}
   
  </ul>
</nav>

  
{% endblock %}