<div class="col-sm-3">
    <div class="card mb-3">
        <div class="card-header">
          Menu
        </div>
        {% if request.user.is_authenticated %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Edit Profile</li>
          <li class="list-group-item">Change Password</li>
          <li class="list-group-item">Add Text</li>
          <li class="list-group-item"><a href="{% url 'myposts' %}" style="color: black; text-decoration: none;">My Posts</a></li>
          <li class="list-group-item">Log out</li>
        </ul>

        {% else %}
        Login
        {% endif %}
        
    </div>
</div>